# Auto detect text files and perform LF normalization
* text=auto

# Gradle wrapper must always use LF
gradlew text eol=lf

# Shell scripts
*.sh text eol=lf

# Windows batch files
*.bat text eol=crlf
*.cmd text eol=crlf

## Java files
*.java text eol=lf