project:
  name: Backend API
  version: 1.0.0

server:
  port: 8080
  domain:
    local: ${LOCAL_SERVER_URL:http://localhost:3000}
    dev: ${DEV_SERVER_URL:https://slackJudge.store}

spring:
  profiles:
    default: local
  config:
    import:
      - postgres.yml
      - redis.yml
      - oauth.yml
  application:
    name: backend
  web.resources.add-mappings: false
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

---
spring.config.activate.on-profile: local
logging:
  level:
    root: INFO

scheduler:
  enabled: false

slack:
  channel:
    daily-rank: C0A3LLS82F5

---
spring.config.activate.on-profile: dev
logging:
  level:
    root: INFO

scheduler:
  enabled: true

slack:
  channel:
    daily-rank: C0A0M8HUQDT

loki:
  url: http://${LOKI_URI:localhost}:3100/loki/api/v1/push
