project:
  name: Backend API
  version: 1.0.0

server:
  port: 8080

spring:
  config:
    import:
      - postgres.yml
      - redis.yml
      - oauth.yml
  application:
    name: backend
  web.resources.add-mappings: false
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always

cors:
  allowed-origins: ${FRONTEND_URL:http://localhost:3000}

---
spring.config.activate.on-profile: local
logging:
  level:
    root: INFO

---
spring.config.activate.on-profile: dev
logging:
  level:
    root: INFO
